body {
    align-items: center;
    align-self: center;
}

dt {
    color: black;
    background-color: #ffe8fb;
    font-family: Courier;
    font-size: 1.5em;
    }

dd {
    color: black;
    font-family: Times Roman;
    font-size: 1.2em;
    font-style: italic;
}